* {
  margin: 0;
  padding: 0;
  color: #707070;
}

body {
  font-size: calc(10px + 0.5vw);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr 6fr 1fr;
  margin: 10px 10px 50px 10px;
}

a {
  text-decoration: none;
}

::selection {
  background: #ffa3a3;
}

header {
  grid-column: 1/2;
}

main {
  grid-column: 3/4;
}

header img {
  max-width: 214px;
  width: 20vw;
  position: fixed;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 22px;
  margin-top: 22px;
}

nav h1,li {
  font-size: calc(16px + 6.5vmax);
}

nav li {
  list-style-type: none;
  padding-left: 4vw;
}

/* nav>ul>li>ul>li>a{
  font-size: 16px;
  width: 50%;
} */

nav>ul>li:hover {
	background-image: url("/images/fire.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 4vw;
}

h2 {
  font-weight: bold;
  text-decoration-line: underline;
  /* text-shadow: 0 3px 6px; */
  font-size: calc(10px + 3vw);
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  margin-top: 16px;
  margin-top: 16px;
}

input[type=text] {
  border: 1px solid #707070;
  width: calc(100% - 22px);
  font-size: calc(10px + 1.5vmax);
  padding: 10px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 3px 0px #707070;
}

input[type=submit] {
  display:block;
  margin:10px auto;
  width: 100%;
  font-size: calc(10px + 1vw);
  padding:15px 1.2em;
  border-radius:2px;
  text-decoration:none;
  font-weight: bold;
  color:#fff;
  background-image: linear-gradient(-45deg, rgb(207, 6, 117), rgb(250, 58, 58));
  text-align:center;
}

input[type=submit]:active {
  background-image: linear-gradient(-45deg, rgb(58, 159, 226), rgb(58, 196, 250));
}

/* header {
  border: 1px solid red;
}
main {
  border: 1px solid red;
} */

@media screen and (min-width: 1440px) {
  nav h1,li  {
     font-size: 110px;
  }

  h2 {
    font-size: 60px;
 }
}

a.button {
  display:block;
  margin:10px auto;
  padding:15px 1.2em;
  border-radius:2px;
  text-decoration:none;
  font-weight: bold;
  color:#fff;
  font-size: calc(10px + 1vw);
  text-align:center;
}

.d1 {
  background-image: linear-gradient(-45deg, rgb(58, 159, 226), rgb(58, 196, 250));
}

.d1:active {
  background-image: linear-gradient(-45deg, rgb(226, 58, 176), rgb(87, 58, 250));
}

.d2 {
  background-image: linear-gradient(-45deg, rgb(226, 58, 176), rgb(87, 58, 250));
}

.d2:active {
  background-image: linear-gradient(-45deg, rgb(58, 159, 226), rgb(58, 196, 250));
}

.d3 {
  background-image: linear-gradient(-45deg, rgb(106, 226, 58), rgb(208, 250, 58));
}

.d3:active {
  background-image: linear-gradient(-45deg, rgb(207, 6, 117), rgb(250, 58, 58));
}

h3 {
  font-size: 2vw;
}

#session-list>ul>li {
  font-size: calc(10px + 1vw);
  list-style-type: none;
}
